.home {
  display: flex;
  width: 100%;

  &__container {
    flex: 6;

    &--widget,
    &--data {
      display: flex;
      padding: 25px;
      gap: 20px;
    }

    &--data {
      padding: 5px 20px;
    }
  }
}
