.user {
  display: flex;
  width: 100%;
  &__container {
    flex: 6;

    &-main {
      padding: 20px;
      display: flex;
      gap: 20px;

      &--left {
        flex: 2;
        box-shadow: 2px 4px 10px lightgray;
        padding: 10px 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          font-size: 16px;
          font-weight: 600;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 30px;

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
              font-size: 20px;
            }

            .detailItem {
              margin-bottom: 15px;
              font-size: 16px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      &--right {
        flex: 3;
      }
    }

    .title {
      font-size: 25px;
      color: gray;
      margin-bottom: 20px;
    }

    &-bottom {
      padding: 0 20px;
      display: flex;
    }
  }
}
